<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '%kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header%}
            {% include 'TrainingArticleBundle:Default:header.html.twig' %}
        {% endblock %}
        <hr>
        {% block body %}{% endblock %}
        <hr>
        {% block footer %}
            {% include 'TrainingArticleBundle:Default:footer.html.twig' %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
