{% extends "::base.html.twig" %}

{% block body %}
<h1>Ajouter un article</h1>

<div class="container">
    <form class="form-horizontal" action="{{ path("training_article_ajouter") }}" method="post">
        {{ form_widget(form) }}
    
    
        <input class="btn" type="submit">
    </form>
</div>
{% endblock %}