{% extends "::base.html.twig" %}

{% block body %}
<h1>Toutttt les articles</h1>

<div class="container">
    {% for article in articles %}
            {% include 'TrainingArticleBundle:Default:article_content.html.twig' with { 'link': true } %}
    {% endfor %}
</div>

{% endblock %}